<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Akani App</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-content>
        <ion-item lines="full">
            <p>Enter email to send password reset instructions.</p>
        </ion-item>

        <form>
            <ion-row>
                <ion-col>
                    <ion-item lines="full">
                        <ion-label position="floating">Email</ion-label>
                        <ion-input type="text" #email required></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-button type="submit" color="danger" (click)="authService.PasswordRecover(email.value)" expand="block">
                        Send Password Reset Mail
                    </ion-button>
                </ion-col>
            </ion-row>
        </form>
    </ion-content>
</ion-content>