ion-toolbar {
    ion-text {
        color: #fff;
    }
}

:host {
    ion-content {
        --background: var(--ion-color-light);
    }
    ion-item {
        border-radius: 0;
        border-bottom: 1px dotted var(--ion-color-medium);
    }
    ion-card {
        &.no-radius {
            border-radius: 0;
        }
    }
}

ion-content {
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
        scroll-behavior: auto;
    }
}