ion-header {
    background: transparent;
}

//ion-content {
//    width: calc(100% + 15px);
//}
ion-content::part(scroll) {
    padding-right: 0px;
}

.header-row {
    background: #F4BB42;
    color: #fff;
    font-size: 18px;
}

ion-col {
    border: 1px solid #ECEEEF;
}

.details {
    max-width: 33% !important;
}